We always need to convert categorical data into numerical data whenever we working in a ML project , it's bcozz some ML algorithems can't accept strings they need numbers..

# categorical encoding:
The process of encoding categorical data into numerical data is called â€œcategorical encoding.

In [ ]:
# 2 types of data in categorical data..

1. Ordinal Data: The data who follow orders in categories is called ordinal data...
2. Nominal Data: The data who does'nt follow orders in categories is called nominal data...

# 1. Ordinal Encoding:
To handle ordinal Data we use ordinalEncoding..
It works on categorical data..

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
47   38  Female     Good        PG       Yes
40   39    Male     Good    School        No
14   15    Male     Poor        PG       Yes
4    16  Female  Average        UG        No
25   57  Female     Good    School        No

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head(15)

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [7]:
Y_train

43     No
21     No
46     No
48    Yes
37    Yes
32    Yes
10    Yes
29    Yes
40     No
24    Yes
28     No
26     No
44     No
18     No
0      No
39     No
2      No
38     No
47    Yes
25     No
6      No
27     No
23     No
13     No
4      No
41    Yes
20    Yes
8      No
17    Yes
35    Yes
22    Yes
31    Yes
1      No
11    Yes
42    Yes
36    Yes
33    Yes
3      No
45    Yes
49     No
Name: purchased, dtype: object

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
oe= OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [10]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [11]:
X_train= oe.transform(X_train)
X_test= oe.transform(X_test)

In [12]:
X_train

array([[0., 2.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [1., 2.],
       [1., 1.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [2., 2.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [2., 1.]])

In [13]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# LabelEncoding..

In [14]:
# LabelEncoding..
# use only on output columns..

from sklearn.preprocessing import LabelEncoder

In [15]:
le = LabelEncoder()

In [16]:
le.fit(Y_train)

LabelEncoder()

In [17]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [18]:
Y_train = le.transform(Y_train)
Y_test = le.transform(Y_test)

In [19]:
Y_train

array([0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0])

# 2. One Hot Encoding:
  To handle nominal data we use one-hot-encoding...

In [20]:
df = pd.read_csv('cars.csv')

In [21]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [22]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

# 1. OneHotEncoding using Pandas:

In [23]:
# get_dumies is a function in pandas, use for one-hot-encoding....
pd.get_dummies(df, columns=['fuel', 'owner'], dtype=int)

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

# 2. K-1 OneHotEncoding:

In [24]:
# we need to remove 1 col, so we use "drop_first=True" to remove 1st col..
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)


# Generely we does'nt use pandas for 'OHE' in ML project, bcozz it does'nt remember k konsa col remove kiya ha....

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

# 3. OneHotEncoding using Sklearn:

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)

In [26]:
X_train.head()

         brand  km_driven    fuel         owner
5571   Hyundai      35000  Diesel   First Owner
2038      Jeep      60000  Diesel   First Owner
2957   Hyundai      25000  Petrol   First Owner
7618  Mahindra     130000  Diesel  Second Owner
6684   Hyundai     155000  Diesel   First Owner

In [27]:
from sklearn.preprocessing import OneHotEncoder

In [28]:
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

In [29]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])

C:\Users\dell\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [30]:
X_test_new = ohe.transform(X_test[['fuel','owner']])

In [31]:
X_train_new.shape

(6502, 7)

In [32]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

array([['Hyundai', 35000, 1, ..., 0, 0, 0],
       ['Jeep', 60000, 1, ..., 0, 0, 0],
       ['Hyundai', 25000, 0, ..., 0, 0, 0],
       ...,
       ['Tata', 15000, 0, ..., 0, 0, 0],
       ['Maruti', 32500, 1, ..., 1, 0, 0],
       ['Isuzu', 121000, 1, ..., 0, 0, 0]], dtype=object)

# 4. OneHotEncoding with Top Categories:

In [33]:
counts = df['brand'].value_counts()

In [34]:
df['brand'].nunique()
threshold = 100

In [35]:
repl = counts[counts <= threshold].index

In [36]:
pd.get_dummies(df['brand'].replace(repl, 'uncommon'),dtype=int).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
348,0,0,0,0,0,0,0,0,0,0,0,0,1
7542,0,0,0,0,0,0,1,0,0,0,0,0,0
6373,0,0,0,0,0,0,0,0,0,1,0,0,0
3823,0,0,0,0,1,0,0,0,0,0,0,0,0
5169,0,0,0,0,0,0,0,0,0,1,0,0,0