In [2]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('play_tennis.csv')
df.drop(columns=['day'],inplace=True)

In [6]:
df.sample()

  outlook  temp humidity  wind play
9    Rain  Mild   Normal  Weak  Yes

In [7]:
# problem-1:

# outlook-Sunny, tem-hot,  humidity-High, wind-wead
# play or No play ??

In [8]:
# Solution:

# p(yes / Sunny, Hot, high, weak) - p(Sunny/ yes) * p(Hot/yes) * p(High/ yes) * p(Weak/ yes) * p(yes)
# p(No / Sunny, Hot, high, weak) - p(Sunny/ No) * p(Hot/No) * p(High/ No) * p(Weak/ No) * p(No)
# Compare and decide using the maximum a posteriori rule..

In [9]:
# Problem-2:

# Outlook-Overcast, Temp-cold, Humidity-Low, wind-weak
# play or No play ??

In [10]:
# Solution:

# p(yes / Overcast, Cold, Low, weak) - p(Overcast/ yes) * p(Cold/yes) * p(Low/ yes) * p(Weak/ yes) * p(yes)
# p(No / Overcast, Cold, Low, weak) - p(Overcast/ No) * p(Cold/No) * p(Low/ No) * p(Weak/ No) * p(No)

In [11]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [12]:
PY= 9/14
PN= 5/14

In [13]:
print(9/14)
print(5/14)

0.6428571428571429
0.35714285714285715

In [14]:
# outlook:
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [15]:
pon= 0
prn= 2/5
psn= 4/9

poy= 4/9
pry= 3/9
psy= 2/9

In [16]:
# temp:
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [17]:
PCoolNo= 1/5
PHotNo= 2/5
PMildNo= 2/5

PCoolYes= 3/9
PHotYes= 2/9
PMildYes= 4/9

In [18]:
# Humidity:
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [19]:
PHighNo= 4/5
PNormalNo= 1/5

PHighYes= 3/9
PNormalYes= 6/9

In [20]:
# wind:
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [21]:
PStrongNo= 3/5
PWeakNo= 2/5

PStrongYes= 3/9
PWeakYes= 6/9

In [26]:
# outlook-Sunny, tem-hot,  humidity-High, wind-wead

pyes= PY*psy*PHotYes*PHighYes*PWeakYes
print(pyes)

0.007054673721340388

In [31]:
pno= PN*psn*PHotNo*PHighNo*PWeakNo
print(pno)

0.020317460317460317

In [ ]:
# No play..